* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
  font-size: 2rem;
}
body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
form {
  transform: scale(1.5);
}
p {
  margin-right: auto;
  display: inline;
  font-size: 1.5rem;
  color: rgb(88, 88, 88);
}
label {
  display: flex;
  align-items: center;
  margin-top: 0.5rem;
}
.lever {
  margin-left: 2rem;
}
